.mainaboutdiv {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-height: 100vh;
}

.imageaboutdiv {
    order: 1;
}

.imageaboutdiv img {
    width: 40%;
}

.headeraboutdiv {
    order: 2;
}

.aboutaboutdiv {
    order: 3;
}